name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v4

      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Instalar dependências
        run: npm install

      - name: Testar build do projeto
        run: npm run build || echo "Nenhum build configurado"

      - name: Testar execução do servidor
        run: node server.js || echo "Servidor iniciado com sucesso"

# Forcando re-execucao
